<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-WK8YMRYBTT"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-WK8YMRYBTT');
    </script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSS Text Shadow Generator - generate fancy css text shadows</title>
    <meta name="description" content="Simple and easy to use shadow generator tool to customize drop-shadow css style property.">
    <meta property="og:url" content="https://textshadow.csscraftr.com">
    <meta property="og:type" content="website">
    <meta property="og:title" content="CSS Shadow Generator - generate fancy css shadows">
    <meta property="og:description" content="Simple and easy to use shadow generator tool to customize drop-shadow css style property.">
    <meta property="og:image" content="https://textshadow.csscraftr.com/template/images/fb_og.jpg">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="textshadow.csscraftr.com">
    <meta property="twitter:url" content="https://textshadow.csscraftr.com">
    <meta name="twitter:title" content="CSS Shadow Generator - generate fancy css shadows">
    <meta name="twitter:description" content="Simple and easy to use shadow generator tool to customize drop-shadow css style property.">
    <meta name="twitter:image" content="https://textshadow.csscraftr.com/template/images/fb_og.jpg">
    <meta name="REVISIT-AFTER" content="1 DAYS">
    <meta name="COPYRIGHT" content="Ionel Olariu">
    <meta name="robots" content="index,follow">
    <meta name="googlebot" content="index,follow">
    <meta name="keywords" content="css, tailwindcss, tailwind, shadow, generator, shadow generator, opacity, image shadow, box shadow, text shadow, fancy shadows, generators, css shadow, box-shadow">    
    <link rel="stylesheet" href="template/css/styles.css?t=[-MT-]" class="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="template/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="template/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="template/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="template/images/favicon/site.webmanifest">
    <link rel="mask-icon" href="template/images/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="template/images/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="msapplication-config" content="template/images/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');        
    </style>
    <script type="text/javascript" src="template/js/shadowGenerator.min.js"></script>
</head>
<body class="flex flex-col items-start justify-start min-h-screen gap-5 text-sm bg-white font-roboto text-slate-600">
    <header class="flex items-start mb-10 bg-[url(../images/wallpaper.jpg)] bg-center bg-cover justify-start min-h-[120px] w-full max-w-7xl mx-auto xl:mt-4 relative xl:rounded-xl px-4 pt-5">
        <div class="flex items-center justify-start w-full">
            <a href="https://csscraftr.com" title="CSS Craftr - CSS Generators" class="text-2xl font-medium text-white [text-shadow:_2px_0px_8px_#606060]">CSSCraftr</a>
            <span class="flex items-center justify-end gap-2 text-white grow [&>a]:px-3 [&>a]:py-2 [&>a:hover]:bg-white [&>a:hover]:backdrop-blur-sm [&>a:hover]:text-slate-600 [&>a:hover]:transition-all [&>a:hover]:duration-300 [&>a:hover]:ease-in [&>a]:rounded-md">
                <a href="https://boxshadow.csscraftr.com" title="CSS box-shadow generator">boxShadow</a>
                <!-- <a href="https://textshadow.csscraftr.com" title="CSS text-shadow generator">textShadow</a> -->
                <a href="https://twgradient.csscraftr.com" title="TailwindCSS gradient generator">TWGradient</a>
            </span>
        </div>
        <div class="absolute flex items-center justify-start -translate-x-1/2 left-1/2 -bottom-12 rounded-lg bg-white/60 backdrop-blur-md border border-white/30 w-[94%] sm:w-[96%] shadow-[0px_6px_27px_-4px_rgba(204,204,204,0.36)] p-3">
            <h1 class="flex items-center justify-center gap-2 text-3xl group">
                <a href="index.php" title="CSS text shadow generator - easy to use css shadows" class="font-medium rounded-md p-3 aspect-square text-white bg-[#3085e8] group-hover:shadow-[0px_0px_12px_6px_rgba(19,_114,_183,_0.29)] cursor-pointer transition-all duration-150 ease-in hover:transition-all hover:duration-500 hover:ease-in flex items-center justify-center text-2xl">CSS</a> 
                <span class="[text-shadow:_7px_5px_8px_rgba(131,131,131,0.6)] leading-7">
                    textShadow
                    <small class="block text-sm leading-4 [text-shadow:none;] text-slate-500 font-mono">#generator</small>
                </span>
            </h1>
            <div class="flex items-center justify-end gap-4 grow [&>a]:p-3 [&>a]:font-normal [&>a]:text-[15px] [&>a:hover]:text-slate-900 pr-4">
                <a href="#" class="hidden md:inline-block">Home</a>
                <a href="#learn" title="Tutorial CSS box-shadow" class="hidden md:inline-block">Learn</a>
                <a href="https://icodethis.com" target="_blank" title="iCodeThis.com - daily projects to improve your front end coding skills." class="hidden md:inline-block">iCodeThis</a>
                <a href="https://x.com/neluttu" target="_blank" class="group" title="X @neluttu">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" stroke-width="1" stroke="#666666" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" class="drop-shadow-[0px_0px_0px_-30px_rgba(204,204,204,0)]"/>
                        <path d="M4 4l11.733 16h4.267l-11.733 -16z" />
                        <path d="M4 20l6.768 -6.768m2.46 -2.46l6.772 -6.772" />
                    </svg>                
                </a>
            </div>
        </div>
    </header>